<web-app>

    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>org.example.servlets.EmployeeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/employees/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>JsonContentType</filter-name>
        <filter-class>org.example.filters.JsonContentType</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JsonContentType</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
